<form class="col-md-4 offset-2">
  <h3>Login</h3>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">User Name</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-address-card"></i>
          </div>
        </div>
        <input [(ngModel)]="userName" name="userName"  type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="t" class="col-4 col-form-label">Password</label>
    <div class="col-8">
      <input [(ngModel)]="password" name="password" type="password" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button [disabled]="userName== ''|| password == ''" (click)="login()" name="submit" type="button" class="btn btn-primary">Log-in</button>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="showError">
  Invalid Credentials, please try again!!!
  </div>
</form>


