h3{
  color:rgba(84, 9, 223, 0.911);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;


}

label{
  color: rgba(238, 173, 8, 0.965);
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
button{
  background-color: blueviolet;
}
